{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url "index" %}">AskLoshkareov</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <a href="{% url "ask" %}" class="btn btn-outline-success" type="submit">Ask!</a>
        </form>
        <div class="d-flex gap-2 align-items-center">
            {% if is_login %}
                <div class="w-25">
                    <img {% if profile.avatar %}src="{{ MEDIA_URL }}{{ profile.avatar.url}}"{% endif %} class="img-fluid" style="width: 200px; height: auto;" alt="...">
                </div>
                <div class="content">
                    <div class="content__name">{{ profile.nickname }}</div>
                    <div class="content__links">
                        <a href="{% url "edit_profile" %}">Settings</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link p-0 border-0 align-baseline">Logout</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="content">
                    <div class="d-flex flex-row gap-3">
                        <a href="{% url "login" %}">Log in</a>
                        <a href="{% url "register" %}">Register</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container mt-2">
    <div class="row">
        {% block content %}
        {% endblock %}
        <aside class="col-3 vh-100 mt-5">
            <section class="mb-3">
                <h3>Popular tags</h3>
                {% if popular_tags %}
                    {% for tag in popular_tags %}
                        <a href="{% url "tag" tag.name %}" class="badge rounded-pill text-bg-primary">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </section>

            <section>
                <h3>Best members</h3>
                <div class="d-flex flex-column gap-3">
                    {% for profile in popular_profiles %}
                        <a href="#">{{ profile.user.username }}</a>
                    {% endfor %}
                </div>
            </section>
        </aside>
    </div>
</div>
<script src="{% static "bootstrap/js/bootstrap.bundle.js" %}"></script>
</body>

</html>
